.data-title{
    position: absolute;
    width: 73px;
    height: 42px;
    left: 120px;
    top: 1147px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;


    color: #1E222E;
}

.graph-btn{
    position: absolute;
    width: 166px;
    height: 48px;
    top: 10px;
    right: 120px;
    border-radius: 5px;

    background: linear-gradient(266.33deg, #2649D8 0%, #494AFF 99.63%);
    border-radius: 5px;
    border: none;
}

.graph-btn:hover{
    cursor: pointer;
    background: linear-gradient(266.33deg, #2d55f3 0%, #5858ff 99.63%);

}

.graph-btn-text{
    left: 14.46%;
    right: 14.46%;
    top: 27.08%;
    bottom: 27.08%;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF; 
}

.data-area{
    position: absolute;
    width: 1200px;
    height: 600px;
    top: 1213px;
    left: 120px;

    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}